
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a target="_blank" 
                   href="mailto:phuc.nguyenng@hcmut.edu.vn" 
                   class="font-weight-bold ml-1" target="_blank">Get support</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
               &copy; <a target="_blank" 
                         href="https://hcmut.edu.vn/">HCMUT</a> 
                         - coded by <a target="_blank" href="https://www.pexels.com/search/goat/">Phuc, Nguyen, Nguyen, Quoc</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
