{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Quarantine Camp</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Overview</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total personnel</h5>
                      <span class="h2 font-weight-bold mb-0" id="personnel-count"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-circle-08"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/personnel.html">See more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total patients</h5>
                      <span class="h2 font-weight-bold mb-0" id="patient-count"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-circle-08"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/patients.html">See more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total medications</h5>
                      <span class="h2 font-weight-bold mb-0" id="medication-count"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                        <i class="ni ni-collection"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/medication.html">See more</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt-6">
      
      <div class="row">
        <div class="container-fluid">
          <h1>We made this site possible</h1>
        </div>
        

          <div class="col-3">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">P. Nguyen</h3>
                </div>
                <div class="col text-right">
                  <a href="https://www.facebook.com/giaphuc.40/" target="_blank" class="btn btn-sm btn-primary">More</a>
                </div>
              </div>
            </div>
            <img src="/static/assets/img/theme/Picture2.svg" class="img-fluid rounded-circle px-3 py-3"alt="">
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">N. Nguyen</h3>
                </div>
                <div class="col text-right">
                  <a href="https://www.facebook.com/profile.php?id=100009199387358" target="_blank" class="btn btn-sm btn-primary">More</a>
                </div>
              </div>
            </div>
            <img src="/static/assets/img/theme/Picture1.svg" class="img-fluid rounded-circle px-3 py-3"alt="">
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">N. Phan</h3>
                </div>
                <div class="col text-right">
                  <a href="https://www.facebook.com/profile.php?id=100033041768280" target="_blank" class="btn btn-sm btn-primary">More</a>
                </div>
              </div>
            </div>
            <img src="/static/assets/img/theme/Picture3.svg" class="img-fluid rounded-circle px-3 py-3"alt="">
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Q. Nguyen</h3>
                </div>
                <div class="col text-right">
                  <a href="https://www.facebook.com/ntq1610" target="_blank" class="btn btn-sm btn-primary">More</a>
                </div>
              </div>
            </div>
            <img src="/static/assets/img/theme/Picture4.svg" class="img-fluid rounded-circle px-3 py-3"alt="">
          </div>
        </div>

        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>
    $.ajax({
      url: 'api/index_data',
      success: function(response){
        console.log("hehe" + JSON.stringify(response));
        document.getElementById('personnel-count').innerHTML = response['personnelCount']
        document.getElementById('patient-count').innerHTML = response['patientCount']
        document.getElementById('medication-count').innerHTML = response['medicationCount']
      }
    });
  </script>

{% endblock javascripts %}
